<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}" type="text/css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>

  <!-- Navbar (sit on top) -->
  <div class="w3-top">
    <div class="w3-bar w3-white w3-card-2" id="myNavbar">
      <a href="#home" class="w3-bar-item w3-button w3-wide">LOGO</a>
      <!-- Right-sided navbar links -->
      <div class="w3-right w3-hide-small">
        <a href="#about" class="w3-bar-item w3-button">ABOUT</a>
        <a href="#team" class="w3-bar-item w3-button">
          <i class="fa fa-user"></i> TEAM</a>
        <a href="#work" class="w3-bar-item w3-button">
          <i class="fa fa-th"></i> WORK</a>
        <a href="#pricing" class="w3-bar-item w3-button">
          <i class="fa fa-usd"></i> PRICING</a>
        <a href="#contact" class="w3-bar-item w3-button">
          <i class="fa fa-envelope"></i> CONTACT</a>
      </div>
      <!-- Hide right-floated links on small screens and replace them with a menu icon -->

      <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </div>

  <!-- Sidebar on small screens when clicking the menu icon -->
  <nav class="w3-sidebar w3-bar-block w3-black w3-card-2 w3-animate-left w3-hide-medium w3-hide-large" style="display:none"
    id="mySidebar">
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>


  </nav>

  <!-- progressive bar -->
  <div class="w3-container">
    <h2>Dynamic Progress Bar</h2>
    <div class="w3-light-grey">
      <div id="myBar" class="w3-container w3-green" style="height:24px;width:1%"></div>
    </div>

    <button class="w3-button w3-light-grey" onclick="move()">Click Me</button>
    <br>
    <p></p>
  </div>
  <!-- Skills Section -->
  <div class="w3-container w3-light-grey w3-padding-64">
    <div class="w3-row-padding">
      <div class="w3-col m6">
        <h3>Our Skills.</h3>
        <p>Building web applications</p>
        <p>Working with machine learning
          <br> Indepth knowledge </p>
      </div>
      <div class="w3-col m6">
        <p class="w3-wide">
          <i class="fa fa-camera w3-margin-right"></i>Photography</p>
        <div class="w3-grey">
          <div class="w3-container w3-dark-grey w3-center" style="width:90%">90%</div>
        </div>
        <p class="w3-wide">
          <i class="fa fa-desktop w3-margin-right"></i>Web Design</p>
        <div class="w3-grey">
          <div class="w3-container w3-dark-grey w3-center" style="width:85%">85%</div>
        </div>
        <p class="w3-wide">
          <i class="fa fa-photo w3-margin-right"></i>Photoshop</p>
        <div class="w3-grey">
          <div class="w3-container w3-dark-grey w3-center" style="width:75%">75%</div>
        </div>
      </div>
    </div>
  </div>



  <!-- Contact Section -->
  <div class="w3-container w3-light-grey" style="padding:128px 16px" id="contact">
    <h3 class="w3-center">CONTACT</h3>
    <p class="w3-center w3-large">Lets get in touch. Send us a message:</p>
    <div class="w3-row-padding" style="margin-top:64px">
      <div class="w3-half">
        <p>
          <i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right"></i> Chicago, US</p>
        <p>
          <i class="fa fa-phone fa-fw w3-xxlarge w3-margin-right"></i> Phone: +00 151515</p>
        <p>
          <i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"> </i> Email: mail@mail.com</p>
        <br>

        <button class="w3-button w3-black" type="submit">
          <i class="fa fa-paper-plane"></i> SEND MESSAGE
        </button>

        <ul class="fa-ul">
          <li>
            <i class="fa-li fa fa-check-square"></i>List icons</li>
          <li>
            <i class="fa-li fa fa-spinner fa-spin"></i>List icons</li>
          <li>
            <i class="fa-li fa fa-square"></i>List icons</li>
        </ul>
        <div class="w3-half">
          <!-- Add Google Maps -->
          <div id="googleMap" class="w3-greyscale-max" style="width:100%;height:510px;"></div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="w3-center w3-black w3-padding-64">
      <a href="#home" class="w3-button w3-light-grey">
        <i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
      <div class="w3-xlarge w3-section">
        <i class="fa fa-facebook-official w3-hover-text-darkblue"></i>
        <i class="fa fa-instagram w3-hover-text-blue"></i>
        <i class="fa fa-snapchat w3-hover-text-yellow"></i>
        <i class="fa fa-pinterest-p w3-hover-text-red"></i>
        <i class="fa fa-twitter w3-hover-text-blue"></i>
        <i class="fa fa-linkedin w3-hover-text-blue"></i>
      </div>
      <p>Powered by
        <a href="https://tuklab.tk" title="cysect" target="_blank" class="w3-hover-text-blue">Cysect</a>
      </p>
      <p>Designed by
        <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a>
      </p>
    </footer>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap"></script>
    <script src="{{ url_for('static', filename='js/my.js') }}"></script>

</body>

</html>