<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>React</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/react.css') }}" type="text/css">
</head>
<body>
    <h1>Learning react</h1>
    <div id="content"></div>
    <div id="app" class="loader"></div> <!-- add class loader to container -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
    <script src="{{ url_for('static', filename='js/react.js') }}" type="text/jsx"></script>
</body>
</html>